doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 8 misol 
        link(rel="stylesheet", href="../../css/normalize.css")
        link(rel="stylesheet", href="../../sass/style.css")
    body 
        header.header 
            .header_loge 
                .header_link 
                    h3.header_link_h3 CAR LOGO
                    ol.header_link_ol 
                        li MODLE A
                        li MODLE B
                        li MODLE C
                        li MODLE D
                        li MODLE E
                    img.img1(src="../../image/Vector (21).png", alt="")
                h2 MODLE  A
                .span 
                    button Discover
                    p Reserve now
        img.img(src="../../image/911.jpg", alt="")